#browser {
	flex: 1;
	scroll-behavior: smooth;
}
#browser header {
	display: flex;
}
#browser .title{
	scroll-margin: 4rem;
	font-size: 1rem;
	text-decoration: none;
	flex-grow: 1;
}
#browser .location > header .title {
	font-size: 2rem;
}
#browser .category {
	margin-top: 1rem;
}
#browser .category > header {
	grid-column: 1 / -1;
	background: red;
}
#browser .category > header .title{
	font-size: 1.5rem;
	flex: 1 1 0;
}
#browser .category > header [type=color]{
	flex: 0 1 0;
}
#browser > section > section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	grid-auto-rows: auto;
	grid-gap: 8pt;
	scroll-margin-top: 1rem;
}
#browser > header {
	flex-wrap: wrap;
}
#browser > header > .search {
	width: 0;
	flex-grow: 1;
}

.preview > * {
	opacity: 0.6;
	overflow-wrap: break-word;
}
.preview:hover > *,
.preview.open > * {
	opacity: 1;
}

.actions .featured {
	display: none;
}
.actions > .toggle {
	width: 1em;
	height: 1em;	
}
.actions > .toggle > svg:last-child {
	fill: var(--text);
	stroke: var(--text);
}
.actions .featured:not(:checked) + svg{
	fill: transparent;
}
