#editor > label:hover > span{
	color: #aaa;
}

#editor > label:focus-within > span{
	color: var(--text);
}

#editor {
	grid-template-columns: repeat(2, minmax(0, 1fr));
	width: 36vw;
}
#editor > * {
	margin: 0;
	position: relative;
	grid-column-end: span 2;
}
#editor > label:not(.pad) {
	padding: 0;
}
#editor > label > span {
	position: absolute;
	top: -0.5rem;
	left: 0.3rem;
	text-transform: lowercase;
	font-size: .8rem;
	padding-inline: .2ch;
	font-weight: 600;
	color: var(--border-color);
	content: attr(name);
}
#editor > label:not(.pad) > :last-child {
	border: 0;
	width: 100%;
	height: 100%;
	padding: 8pt;
}
#editor > label > * {
	margin: 0;
	border-radius: var(--radius);
	background: var(--background);
}
#editor > label.half-width {
	grid-column-end: span 1;
}
#editor.render > :not(header) {
	border-color: transparent;
}
#editor.render > label > span{
	opacity: 0;
}
#editor ::placeholder {
	color: #888;
}
#editor header > * {
	flex: 1 0 0;
	width: 0;
}
header > [type=button] {
	cursor: pointer;
	text-decoration: none;
	color:var(--text);
}
#editor textarea{
	resize: none;
}

#editor .id {
	cursor: pointer;
}
#editor .title {
	font-size: 1.6rem;
}
#editor .author {
	font-size: 1rem;
}
#editor .media {
	display: flex;
	flex: 0 0 10rem;
	height: 10rem;
	overflow-x: scroll;
}
#editor .media > * {
	margin-right: 8pt;
	width: 8rem;
	flex: 0 0 8rem;
}
#editor .media > img {
	background: var(--border-color);
}
#editor .media .new {
	display: flex;
	flex-direction: column;
}
#editor.render .media .new {
	display: none;
}
#editor .media .new .upload {
	flex-grow: 1;
	cursor: pointer;
	opacity: 0.2;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath d='M4 1l-2 2zM4 1l2 2zM4 1v4zM2 7H6' fill='none' stroke='black' stroke-width='1' stroke-linejoin='round' stroke-linecap='round'/%3E%3C/svg%3E");
}
#editor .media .new .upload input {
	display: none;
}
.media .image {
	position: relative;
	cursor: move;
}
.media .image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	pointer-events: none;
}
.media .image .delete {
	position: absolute;
	top: 4pt;
	right: 4pt;
	padding: 4pt;
	cursor: pointer;
}
#editor .body{
	display: none;
	overflow-wrap: break-word;
}
#editor .markdown {
	flex-grow: 1;
}
#editor.render .body {
	display: block;
}
#editor.render .markdown {
	display: none;
}

#resize{
	border-block-width: 0;
	flex: 0 0 8pt;
	cursor: col-resize;
}
