@font-face {
	font-family: 'pt-root';
	src: url('pt-root/bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'pt-root';
	src: url('pt-root/medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'pt-root';
	src: url('pt-root/regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'pt-root';
	src: url('pt-root/light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}