.markdown .bold {
    font-weight: bold;
}
.markdown .italic {
    font-style: italic;
}
.markdown .strikethrough {
    text-decoration: line-through;
}
.markdown .link {
    color: blue;
}
.markdown .list {
    background: linear-gradient(90deg, #ff08,transparent 2ch);
}
.markdown .heading {
    font-weight: bold;
    background: #8882;
}