label.card{
	position: relative;
	padding: 0;
}
label.card:hover > span{
	color: var(--hover-color);
}
label.card:focus-within > span{
	color: var(--text);
}
label.card > span {
	position: absolute;
	top: -0.5rem;
	left: 0.3rem;
	text-transform: lowercase;
	font-size: .8rem;
	padding-inline: .2ch;
	font-weight: 700;
	background: var(--background);
	color: var(--border-color);
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
label.card > :last-child {
	border: 0;
	padding: 8pt;
	width: 100%;
	height: 100%;
	background: transparent;
}
label.card > * {
	margin: 0;
	border-radius: var(--radius);
}
label.card ::placeholder {
	color: #888;
}
label.card textarea{
	resize: none;
}
input::placeholder {
	color: var(--hover-color)
}
