:root{
	--radius: 4pt;
	--border-color: #ccc;
	--hover-color: #888;
	--border: solid 2pt var(--border-color);
	--background: white;
	--cover: #fffd;
	--text: black;
}

@media (prefers-color-scheme: light){
	:root{
		--border-color: hsl(220deg,20%,20%);
		--hover-color: hsl(220deg,20%,40%);
		--background: hsl(220deg,20%,8%);
		--cover: #000d;
		--text: #ddd;
	}
}

html {
	font-family: 'pt-root', Sans-serif;
	font-weight: 400;
	font-size: 14pt;
	touch-action: pan-x;
	overscroll-behavior-x: none; /* Prevent Chrome swipe navigation */
}
body {
	display: flex;
	background: var(--background);
}
body * {
	box-sizing: border-box;
	color: var(--text);
}
body :focus{
	outline: 0;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	margin: 0;
	padding: 0;
}

button,
[type=button],
[type=submit] {
  cursor: pointer;
}

[hidden]{
	display: none !important;
}
