.panel {
    padding-bottom: 1rem;
}
.panel > header {
	position: sticky;
	display: flex;
	top: 0;
	margin-inline: -1rem;
	border-inline: 0;
	border-top: 0;
	border-radius: 0;
	height: 3rem;
	gap: 0.5rem;
	z-index: 1;
	background-color: var(--background);
}
.panel > header > * {
	border-radius: var(--radius);
	padding: 2pt 4pt;
	z-index: -1;
}
html,
body,
#resize,
.panel {
	height: 100%;
}
.panel {
	overflow: hidden scroll;
	padding: 0 1rem 1rem 1rem;
	display: grid;
	grid-gap: 1rem;
	grid-template-rows: repeat(99,auto) 1fr;
}
#editor > *,
.panel > header,
.card,
.media > *,
.media .delete,
.sign-in {
	padding: 8pt;
	border-radius: var(--radius);
	background-color: var(--background);
}
#editor > *,
.panel > header,
.card,
.media > *,
.media .delete,
#resize,
.sign-in {
	transition-duration: 100ms;
	border: var(--border);
	border-color: var(--border-color);
}
#editor > label:hover,
.panel > :hover,
.card:hover,
.media > :hover,
.media .delete:hover,
#resize:hover{
	border-color: #aaa;
}
#editor > label:focus-within,
.panel > :focus,
.card:focus,
.media > :focus-within,
.card.open,
#resize:focus {
	border-color: var(--text);
}
