.preview {
	display: flex;
	flex-direction: column;
}
.preview > .title {
	overflow-wrap: break-word;
	flex-grow: 1;
}
.preview > .menu {
	display: flex;
	margin-top: 8pt;
	padding-top: 8pt;
	gap: 8pt;
	border-top: var(--border);
}
.preview > .menu > .media {
	display: contents;
}
.preview > .menu > .media > img {
	width: 1rem;
	height: 1rem;
	object-fit: contain;
	background: var(--border-color);
} 
.menu > .action {
	width: 1em;
	height: 1em;	
	cursor: pointer;
}
.menu > .toggle > input {
	display: none;
}
.menu > .action > svg {
	fill: var(--hover-color);
	stroke: var(--hover-color);
	width: 100%;
	height: 100%;
}
.menu > .action:hover > svg {
	fill: var(--text-color);
	stroke: var(--text-color);
}
.menu .featured:not(:checked) + svg{
	fill: transparent;
}
