html {
	font-family: Helvetica, Roboto, Sans-serif;
	font-size: 14pt;
}
body {
	display: flex;
}
body > * {
	height: 100vh;
	overflow: hidden scroll;
}
body * {
	box-sizing: border-box;
	transition-duration: 100ms;
}
[contenteditable]:focus{
	outline: 0;
}
body h1 {
	font-size: 1rem;
	font-weight: normal;
}

.editor > *,
.preview {
	border: solid 2pt #ddd;
	padding: 8pt;
	border-radius: 4pt;
	background-color: white;
}
.editor > :hover,
.preview:hover {
	border-color: #aaa;
}
.editor > :focus,
.editor > :focus-within,
.preview.open {
	border-color: black;
}

.editor {
	display: flex;
	position: relative;
	width: 24rem;
	max-width: calc(100vw - 12rem);
	min-width: 12rem;
	min-height: 100vh;
	flex-direction: column;
	padding: 1rem;
	resize: horizontal;
}
.editor > * {
	margin: 0 0 1rem 0;
}
.editor.render > * {
	padding: 0;
	border-color: transparent;
}
.editor ::placeholder {
	color: #888;
}
.editor header {
	display: flex;
	position: sticky;
	top: 0;
}
.editor header * {
	--lum: 90%;
	border-radius: 1rem;
	background: hsl(var(--hue),100%,var(--lum));
	cursor: pointer;
	color: black;
	padding: 2pt 8pt;
	flex: 1 0 0;
	width: 0;
	outline: 0;
	border: 0;
}
.editor header :hover,
.editor header :focus {
	--lum: 85%;
}
.editor header :active {
	--lum: 80%;
}
.editor header .remove {
	--hue: 000deg;
}
.editor header .render {
	--hue: -120deg;
	margin-inline: 0.5rem;
}
.editor header .publish {
	--hue: -240deg;
}
.editor .id {
	cursor: pointer;
}
.editor .title {
	font-size: 1.6rem;
}
.editor .author {
	font-size: 1rem;
}
.editor .media {
	display: flex;
	flex: 0 0 10rem;
	overflow: scroll hidden;
}
.editor .media > * {
	background: #ddd;
	margin-right: 8pt;
	width: 8rem;
}
.editor .media .new {
	display: flex;
	flex-direction: column;
}
.editor.render .media .new {
	display: none;
}
.editor .media .new .upload {
	flex-grow: 1;
	cursor: pointer;
}
.editor .media .new .upload input {
	display: none;
}
.editor .media .new .upload::before {
	content: 'Upload an image';
}
.editor .media .file {
	object-fit: contain;
}
.editor .body{
	display: none;
}
.editor .md {
	white-space: pre-wrap;
	flex-grow: 1;
	line-height: 1;
}
.editor.render .body{
	display: block;
}
.editor.render .md{
	display: none;
}
.browser {
	flex: 1;
	display: grid;
	padding: 4pt;
	grid-gap: 4pt;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
.browser > * {
	height: 10rem;
	padding: 8pt;
	border-radius: 4pt;
}
.browser > nav {
	order: -1;
}
.preview {
	display: flex;
	position: relative;
	flex-direction: column;
	background-size: cover;
	cursor: pointer;
	opacity: 0.6;
	padding-bottom: 0;
}
.preview > .status{
	background: orange;
	border-radius: 2pt;
	font-size: .9rem;
	text-align: center;
	flex: 0 1 auto;
	overflow: hidden;
	opacity: 0;
}
.preview:not(.published) > .status {
	flex-shrink: 0;
	margin-bottom: 8pt;
	opacity: 1;
}
.preview > * {
	width: 100%;
	margin: 2pt 0;
	pointer-events: none;
}
.preview > .title {
	font-size: 1rem;
}
.preview > .author {
	font-size: 0.8rem;
}
.author {
	font-style: normal;
}
.author::before {
	content: 'by ';
}
.preview > .body {
	overflow: hidden;
	flex-grow: 1;
	mask-image: linear-gradient(black 50%, transparent);
	-webkit-mask-image: linear-gradient(black 50%, transparent);
}
.preview > .body * {
	display: contents;
}
.preview:hover,
.preview.open {
	opacity: 1;
}
