.sign-in {
	position: fixed;
	top: 8pt;
	right: 8pt;

	width: 24rem;
	max-width: 100%;

	display: flex;
	flex-direction: column;
	
	background:var(--background);
	z-index: 10;

	box-shadow: 0 0 0 100vmax #000a;
}
.sign-in input {
	color: black;
}
.sign-in.loading{
	border-color: blue;
}
.sign-in.invalid{
	border-color: red;
}

body.signed-in > .sign-in {
	width: 6rem;
}

body:not(.signed-in) > .editor .remove,
body:not(.signed-in) > .editor .publish {
	display: none;
}