#editor > header,
#browser > header {
	position: sticky;
	display: flex;
	top: 0;
	margin-inline: -1rem;
	border-inline: 0;
	border-top: 0;
	border-radius: 0;
	height: 3rem;
	gap: 0.5rem;
	z-index: 1;
	background-color: var(--background);
}
#editor > header > *,
#browser > header > * {
	border-radius: var(--radius);
	padding: 2pt 4pt;
	z-index: -1;
}
html,
body,
#editor,
#resize,
#browser {
	height: 100%;
}
#editor,
#browser {
	overflow: hidden scroll;
	padding: 0 1rem 1rem 1rem;
	display: grid;
	grid-gap: 1rem;
	grid-template-rows: repeat(99,auto) 1fr;
}
#editor > *,
header,
header > *,
.media > *,
.media .delete,
.sign-in {
	padding: 8pt;
	border-radius: var(--radius);
	background-color: var(--background);
}
#editor > *,
header,
.media > *,
.media .delete,
#resize,
.sign-in {
	transition-duration: 100ms;
	border: var(--border);
	border-color: var(--border-color);
}
label:hover,
header > :hover,
.preview:hover,
.media > :hover,
.media .delete:hover,
#resize:hover{
	border-color: #aaa;
}
#editor > label:hover > span{
	color: #aaa;
}

label:focus-within,
header > :focus,
.preview:focus,
.media > :focus-within,
.preview.open,
#resize:focus {
	border-color: var(--text);
}
#editor > label:focus-within > span{
	color: var(--text);
}

#editor {
	grid-template-columns: repeat(2, minmax(0, 1fr));
	width: 24rem;
}
#editor > * {
	margin: 0;
	position: relative;
	grid-column-end: span 2;
}
#editor > label:not(.pad) {
	padding: 0;
}
#editor > label > span {
	position: absolute;
	top: -0.5rem;
	left: 0.3rem;
	text-transform: lowercase;
	font-size: .8rem;
	padding-inline: .2ch;
	font-weight: 600;
	color: var(--border-color);
	content: attr(name);
}
#editor > label:not(.pad) > :last-child {
	border: 0;
	width: 100%;
	height: 100%;
	padding: 8pt;
}
#editor > label > * {
	margin: 0;
	border-radius: var(--radius);
	background: var(--background);
}
#editor > label.half-width {
	grid-column-end: span 1;
}
#editor.render > :not(header) {
	border-color: transparent;
}
#editor.render > label > span{
	opacity: 0;
}
#editor ::placeholder {
	color: #888;
}
#editor header > * {
	flex: 1 0 0;
	width: 0;
}
header > [type=button] {
	cursor: pointer;
	text-decoration: none;
	color:var(--text);
}

#editor .id {
	cursor: pointer;
}
#editor .title {
	font-size: 1.6rem;
}
#editor .author {
	font-size: 1rem;
}
#editor .media {
	display: flex;
	flex: 0 0 10rem;
	height: 10rem;
	overflow-x: scroll;
}
#editor .media > * {
	margin-right: 8pt;
	width: 8rem;
	flex: 0 0 8rem;
}
#editor .media > img {
	background: var(--border-color);
}
#editor .media .new {
	display: flex;
	flex-direction: column;
}
#editor.render .media .new {
	display: none;
}
#editor .media .new .upload {
	flex-grow: 1;
	cursor: pointer;
	opacity: 0.2;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath d='M4 1l-2 2zM4 1l2 2zM4 1v4zM2 7H6' fill='none' stroke='black' stroke-width='1' stroke-linejoin='round' stroke-linecap='round'/%3E%3C/svg%3E");
}
#editor .media .new .upload input {
	display: none;
}
.media .image {
	position: relative;
	cursor: move;
}
.media .image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	pointer-events: none;
}
.media .image .delete {
	position: absolute;
	top: 4pt;
	right: 4pt;
	padding: 4pt;
	cursor: pointer;
}
#editor .body{
	display: none;
}
#editor .md {
	flex-grow: 1;
}
#editor.render .body{
	display: block;
}
#editor.render .md{
	display: none;
}

#resize{
	border-block-width: 0;
	flex: 0 0 8pt;
	cursor: col-resize;
}
#browser {
	flex: 1;
}
#browser > details details{
	padding-left: 1rem;
}
#browser > header {
	order: -10;
	flex-wrap: wrap;
	grid-column: 1 / -1;
}
#browser > header > .search {
	width: 0;
	flex-grow: 1;
}
.preview {
	height: 10rem;
	display: flex;
	position: relative;
	flex-direction: column;
	background-size: cover;
	cursor: pointer;
	padding-bottom: 0;
	text-align: left;
}
.preview[hidden] {
	display: none;
}
.preview > * {
	width: 100%;
	margin: 2pt 0;
	pointer-events: none;
	opacity: 0.6;
}
.preview:hover > *,
.preview.open > * {
	opacity: 1;
}
.preview > .title {
	font-size: 1rem;
}
.preview > .author {
	font-size: 0.8rem;
}
.preview > .status{
	background: orange;
	color: black;
	border-radius: 2pt;
	font-size: .9rem;
	text-align: center;
	flex: 0 1 auto;
	overflow: hidden;
	opacity: 0;
}
.preview.not-published > .status {
	flex-shrink: 0;
	margin-bottom: 8pt;
	opacity: 1;
}
address {
	font-style: normal;
}
.preview .author::before {
	content: 'by ';
}
.preview > .body {
	overflow: hidden;
	flex-grow: 1;
	mask-image: linear-gradient(black 50%, transparent);
	-webkit-mask-image: linear-gradient(black 50%, transparent);
}
.preview > .body * {
	display: contents;
}
